/* SlideCore */
.core-cn {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--rsc-color-black);
}

.core-slide-btn-cn {
  position: fixed;
  z-index: var(--rsc-z-index-menu);
  bottom: 16px;
  right: 16px;
}

/* SlideFrame */
.frame-cn {
  width: 100%;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.base-slide-cn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (min-aspect-ratio: 16 / 9) {
  .frame-cn {
    width: auto;
    height: 100vh;
  }
}
