/* @import url("./components/index.css"); */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --rsc-color-black: #000000;
  --rsc-color-white: #ffffff;

  --rsc-text-color-primary: #000000;

  --rsc-bg-color-pale: #edefee;

  --rsc-z-index-menu: 1000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
